*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;;
}
/*Header*/
.logo{
	/* border: 1px black solid; */
	margin: 0 auto;
}
.logoimg{
	width: 50%;
	height: 80%;
	border-radius: 30px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.navbar{
	display: flex;
	justify-content:center;
	padding: 10px 50px;
	align-items: center;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	background-color: #03607fbd;
	gap:5px;

}
.header_menu_list{
	justify-content: center;
	margin: 25px auto;
	/* border: 1px solid black; */
	font-weight: bold;
	font-size: 2opx;
}

.header_list{
	display: flex;
	gap: 40px;
	list-style: none;
}
a{
	text-decoration: none;
	color: black;
}
.header_list a{
	font-size: 20px;
	font-weight: 20px;
}
.header_list li a:hover{
	border-bottom: 3px solid black;

}

.navbar .icons{
	display: flex;
	list-style: none;
	gap: 20px;
}
.navbar .icons i{
	font-size: 20px;
}


.drop_list{
	background-color: white;
	position: absolute;
	list-style: none;
	padding: 10px;
	top: 65px;
	margin-left: 15px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 5px;
	display: none;
}
.drop_list li{
	margin: 10px;
}
#drop_btn:hover .drop_list{
	display: block;
}
.drop_list:hover{
	display: block;
}

/* Section */
.slider{
	width:1500px;
	height:400px;
	border: 1px solid black;
	margin: 0 auto;

}
.sliderimg{
	width: 100%;
	height: 400px;
	border: 1px solid black;
	margin: 0 auto;

}
section h3{
	text-align: center;
	margin: 20px 5px 0px 0px; 
	font-size: 30px;

}
/*Footer*/

footer{
	height:150px;
	background-color: #03607fbd;;
	display: flex;
	justify-content: center;
	bottom: 0;
	top:0;

}
.footericon{
	margin-top: 20px;
	padding:20px;
	/* border: 1px solid rgb(216, 17, 17); */
}
.footericon ul{
	list-style: none;
	display: flex;
	justify-content: center;
	flex-direction:row;
	gap: 10px;
	font-size: 30px;
}
.footericon ul li a:hover{
	border-bottom: 3px solid black;
}
.footermenulist{
	display: flex;
	justify-items: center;
	gap:20px;
	margin: 15px auto;
	/* border: 1px solid black; */
	
}
.footermenulist ul{
    list-style: none;
	gap: 20px;
	font-size: 15px;
	font-weight: bold;
}
.footermenulist a{
	text-decoration: none;
}
.footertext{
	display: flex;
	justify-content: center;
	/* border: 1px solid black; */
	font-size: 18px;

}
/* Risingdesk page */
.desks{
    background-image: url('../img/contact.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
}
.desks_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-top: 50px;
}
.desks_list h1{
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
    font-size: 60px;
	text-shadow: 2px 2px #3fd3edc1;
}
.desks_list .desk_card{
    width: 300px;
    min-width: 250px;
    height: auto;
    box-shadow: #121212fc 0px 3px 8px;
    text-align: center;
    padding-bottom: 30px;
    border-radius: 10px;
    margin: 20px 0px;
    overflow: hidden;
}
.desk_card img{
    width: 100%;
    height: 250px;
    border: 1px solid rgb(230, 227, 227);
    border-radius: 10px 10px 0px 0px;
    transition: opacity .2s ease-in-out;
}
.desk_card img:hover{
    opacity: .9;
}
.desk_card h3{
    margin-top: 15px;
    text-align: center;
}
.desk_card p{
    margin: 10px;
    text-align: justify;
}
.desk_card p:nth-child(4){
    margin-bottom: 30px;
}
.desk_card a{
    background-color: rgb(86, 138, 215);
    padding: 10px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}
.desk_card a:hover{
    background-color: rgb(79, 144, 240);
}

/* contact */
.contactmain{
	justify-content: center;
    text-align:center;
    font-style: italic;
	background-image: linear-gradient(to bottom right, rgba(25, 32, 95, 0.949), rgba(159, 166, 232, 0.949));
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	height: 200px;
	padding:60px 0px;
}
.bg{
	background-color: rgba(183, 201, 244, 0.523);
	margin: 20px 30px;
	padding: 20px 0px;
	border-radius: 10px;
}
.contactmain h3{
	font-size: 50px;
	font-weight: bold;
    margin-bottom: 3px;
    color: rgb(28, 6, 2);
}
.contact_icon{
	/* border:1px solid  black; */
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	gap: 100px;
	margin-bottom: 10px;
}
.icon1{
    /* border: 1px solid black; */
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	background-color: rgba(207, 206, 223, 0.668);
	width: 250px;
	display: flex;
	gap:10px;
	justify-content: center;
	align-items: center;
	padding: 10px 0px;
	border-radius: 5px;
	
}
.icon1 i{
	font-size: 24px;
}
.icon2 i{
	font-size: 28px;
}
.icon3 i{
	font-size: 28px;
}
.icon2{
    /* border: 1px solid black; */
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	background-color: rgba(207, 206, 223, 0.668);
	width: 350px;
	display: flex;
	gap:10px;
	justify-content: center;
	align-items: center;
	padding: 10px 0px;
	border-radius: 5px;

	

}
.icon3{
    /* border: 1px solid black; */
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	background-color: rgba(207, 206, 223, 0.668);
	width: 350px;
	display: flex;
	gap:10px;
	justify-content: center;
	align-items: center;
	padding: 10px 0px;
	border-radius: 5px;
}
.contact_form_map{
	display: flex;
	justify-content: center;
	gap: 50px;
	/* background-color:rgba(149, 158, 232, 0.589); */
	/* margin: 0 auto; */
	/* margin-bottom: 10px; */
	
}
.form{
    width:30%;
    margin-left: 10px;
    line-height: 30px;
    font-size: 20px;
    
}
.form label{
	font-weight: bold;
}
.form input{
    width: 100%;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	font-style: italic;
}
.form textarea{
    width: 100%;
    height: 100px;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	font-style: italic;
	padding: 5px;
}

.form button{
    text-align: center;
    font-size: 15px;
    width: 200px;
    height: 40px;
    margin-top: 3px;
    border-radius: 5px;
    cursor: pointer;
    color:white;
    background-color: rgba(0, 0, 0, 0.856);
}
.form button:hover{
    background-color: rgba(0, 0, 0, 0.317);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color:black;
}
.map iframe{
	width: 450px;
	height: 400px;
	border-radius: 15px;
}
/* About Us */
.about{
	display: flex;
	gap: 30px;
	margin: 20px 25px;
	padding: 20px ;
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

}
.abouttext{
	padding: 30px 0px; 
}
.abouttext p {
    text-align:justify;
	line-height: 1.5;
	font-style: italic;
	font-weight:lighter;
}
.abouttext p::first-letter{
	float: left;
    font-size: 80px;
    padding-right: 10px;
    padding-top: 5px;
	padding-bottom: 0px;
    font-weight: bold;
	font-style: normal;
}

.aboutimg_img{
	border-radius: 5px;
}
.maindiv{
	box-shadow: rgba(17, 12, 46, 0.297) 0px 48px 100px 0px;
	margin: 20px;
	padding: 20px;
}
.div{
	text-align: center;
	margin: 10px 20px;
	padding: 10px;
}
.div h3{
	font-weight: bold;
	font-size: 30px;
}
.alldiv{
	text-align: center;
	display: flex;
	flex-direction:row;
	gap:30px;
	margin: 20px 20px;
	
}
.alldiv p{
	text-align: justify;
	margin: 10px;
}
.div1,.div2,.div3,.div4,.div5{
	border-left: 3px solid rgba(84, 84, 211, 0.647);
	padding-left: 20px;
}
/* Health Benefits page */
.video{
	display: flex;
	justify-content: center;

}
.video iframe{
	width: 100%;
	height: 500px;
}
.healthbenefitsdiv{
	border: 1px solid black;
	margin: 10px 10px ;
	border-radius: 10px;
	background-color: rgba(120, 108, 173, 0.473);

}
.hbimg{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin: 5px 20px;
}
.hbimg img{
	width: 500px;
	height: 250px;
	border-radius: 10px;
	margin: 10px;
}
.hbimg p{
	text-align: justify;
	margin: 5px;
	font-size: 22px;
}
.audiodiv{
	margin: 5px 270px;
	
}
.audiodiv audio{
	width: 500px;
	border-radius: 10px;
}
/* Popup  */
 
    /* Overlay background */
#popup {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease;
}

    /* When targeted, show the popup */
#popup:target {
	opacity: 1;
	visibility: visible;
}
 
    /* Centered popup box */
#popup form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
 
label {
    display: block;
    margin-top: 10px;
	font-weight: bold;
}
 
input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    box-sizing: border-box;
	border-radius: 5px;
}
 
button {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background-color: #501ae5dd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
 
    /* Close button */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    text-decoration: none;
    font-size: 20px;
    color: black;
}
/* Basket page */
.basket_list{
	display: flex;
	justify-content: center;
	border: 1px solid black;
	margin: 20px;
	padding: 10px;

}
.basket_list ul{
	display: flex;
	list-style: none;
	gap: 250px;
	font-size: 20px;
	font-weight: bold;
	margin: 0 auto;
}
.basket_img{
	width: 60px;
	height: 60px;
}