*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;;
}
/*Header*/
.logo{
	/* border: 1px black solid; */
	margin: 0 auto;
}
.logoimg{
	width: 50%;
	height: 80%;
	border-radius: 30px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
header{
	position: fixed;
	width: 100%;
	top: 0;
}
.navbar{
	display: flex;
	justify-content:center;
	padding: 10px 50px;
	align-items: center;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	background-color: #03607fbd;
	gap:5px;

}
.header_menu_list{
	justify-content: center;
	margin: 25px auto;
	/* border: 1px solid black; */
	font-weight: bold;
	font-size: 20px;
}

.header_list{
	display: flex;
	gap: 40px;
	list-style: none;
}
a{
	text-decoration: none;
	color: black;
}
.header_list a{
	font-size: 20px;
	font-weight: 20px;
}
.header_list li a:hover{
	border-bottom: 3px solid black;

}

.navbar .icons{
	display: flex;
	list-style: none;
	gap: 20px;
}
.navbar .icons i{
	font-size: 20px;
}


.drop_list{
	background-color: white;
	position: absolute;
	list-style: none;
	padding: 10px;
	top: 65px;
	margin-left: 15px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 5px;
	display: none;
}
.drop_list li{
	margin: 10px;
}
#drop_btn:hover .drop_list{
	display: block;
}
.drop_list:hover{
	display: block;
}

/* Section */
.slider{
	width:1500px;
	height:600px;
	/* border: 1px solid black; */
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
	border-radius: 10px;
	margin: 10px auto;
	margin-top: 110px;

}
.sliderimg{
	width: 100%;
	height: 600px;
	border: 1px solid rgba(21, 14, 223, 0.596);
	border-radius: 10px;
	margin: 0 auto;

}
section h3{
	text-align: center;
	margin: 20px 5px 0px 0px; 
	font-size: 30px;

}
/* Feedback */
.feedback{
	background-color: rgba(205, 123, 123, 0.792);
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	margin: 15px 200px;
	padding: 10px 0px; 
	border-radius: 10px;
}
.feedbackheader{
	text-align:  center;
	margin: 15px auto;
	
}
.feedbackbody{
	display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 20px;
    justify-items: center;
    align-items: center;
    margin: 40px auto;
    max-width: 800px;

}
.feedbackbody img{
    width: 100px;
    height: 80px;
    object-fit: cover;
    border-radius:50%;
	border: 2px solid rgb(6, 34, 18);

}
.feedback_1{
	display: flex;
	gap: 10px;
	border: 3px solid rgba(39, 36, 223, 0.716);
	border-radius: 5px;
	padding: 5px 5px;
	height: auto;
}
.cfeedback p{
	text-align: justify;
}

/*Footer*/

footer{
	height:auto;
	background-color: #03607fbd;;
	display: flex;
	flex-direction:column;
	justify-content: center;
	bottom: 0;
	top:0;
	position:relative;

}
.footericon{
	margin-top: 20px;
	padding:10px;
	/* border: 1px solid rgb(216, 17, 17); */
}
.footericon ul{
	list-style: none;
	display: flex;
	justify-content: center;
	flex-direction:row;
	gap: 15px;
	font-size: 30px;
}
.footericon ul li a,.footermenulist ul li a:hover{
	border-bottom: 3px solid black;
}
.footermenulist{
	justify-items: center;
	gap:20px;
	margin: 15px auto;
	/* border: 1px solid black; */
	
}
.footermenulist ul{
	display: flex;
    list-style: none;
	gap: 20px;
	font-size: 15px;
	font-weight: bold;
}
.footermenulist a{
	text-decoration: none;
}
.footertext{
	display: flex;
	justify-content: center;
	/* border: 1px solid black; */
	font-size: 18px;
	margin: 10px ;

}
/* Risingdesk page */
.desks{
    background-image: url('../img/contact.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
}
.desks_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-top: 50px;
}
.desks_list h1{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    font-size: 60px;
	text-shadow: 2px 2px #3fd3edc1;
}
.desks_list .desk_card{
    width: 300px;
    min-width: 250px;
    height: auto;
    box-shadow: #1212123e 0px 3px 8px;
    text-align: center;
    padding-bottom: 30px;
    border-radius: 10px;
    margin: 20px 0px;
    overflow: hidden;
}
.desk_card img{
    width: 100%;
    height: 250px;
    border: 1px solid rgba(230, 227, 227, 0.612);
    border-radius: 10px 10px 0px 0px;
    transition: opacity .2s ease-in-out;
}
.desk_card img:hover{
    opacity: .9;
}
.desk_card h3{
    margin-top: 15px;
    text-align: center;
}
.desk_card p{
    margin: 10px;
    text-align: justify;
}
.desk_card p:nth-child(4){
    margin-bottom: 30px;
}
.desk_card a{
    background-color: rgb(86, 138, 215);
    padding: 10px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}
.desk_card a:hover{
    background-color: rgb(79, 144, 240);
}

/* contact */
.bg{
	background-color: rgba(183, 201, 244, 0.523);
	margin: 20px 30px;
	padding: 20px 0px;
	border-radius: 10px;
}
.contact_icon{
	/* border:1px solid  black; */
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	gap: 100px;
	margin-bottom: 10px;
}
.icon1{
    /* border: 1px solid black; */
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	background-color: rgba(207, 206, 223, 0.668);
	width: 250px;
	display: flex;
	gap:10px;
	justify-content: center;
	align-items: center;
	padding: 10px 0px;
	border-radius: 5px;
	
}
.icon1 i{
	font-size: 24px;
}
.icon2 i{
	font-size: 28px;
}
.icon3 i{
	font-size: 28px;
}
.icon2{
    /* border: 1px solid black; */
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	background-color: rgba(207, 206, 223, 0.668);
	width: 350px;
	display: flex;
	gap:10px;
	justify-content: center;
	align-items: center;
	padding: 10px 0px;
	border-radius: 5px;

	

}
.icon3{
    /* border: 1px solid black; */
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	background-color: rgba(207, 206, 223, 0.668);
	width: 350px;
	display: flex;
	gap:10px;
	justify-content: center;
	align-items: center;
	padding: 10px 0px;
	border-radius: 5px;
}
.contact_form_map{
	display: flex;
	justify-content: center;
	gap: 50px;
	/* background-color:rgba(149, 158, 232, 0.589); */
	/* margin: 0 auto; */
	/* margin-bottom: 10px; */
	
}
.form{
    width:30%;
    margin-left: 10px;
    line-height: 30px;
    font-size: 20px;
    
}
.form label{
	font-weight: bold;
}
.form input{
    width: 100%;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	font-style: italic;
}
.form textarea{
    width: 100%;
    height: 100px;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	font-style: italic;
	padding: 5px;
}

.form button{
    text-align: center;
    font-size: 15px;
    width: 200px;
    height: 40px;
    margin-top: 3px;
    border-radius: 5px;
    cursor: pointer;
    color:white;
    background-color: rgba(0, 0, 0, 0.856);
}
.form button:hover{
    background-color: rgba(0, 0, 0, 0.317);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color:black;
}
.map iframe{
	width: 450px;
	height: 400px;
	border-radius: 15px;
}
/* About Us */
.about{
	display: flex;
	gap: 30px;
	margin: 20px 25px;
	padding: 20px ;
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

}
.abouttext{
	padding: 30px 0px; 
}
.abouttext p {
    text-align:justify;
	line-height: 1.5;
	font-style: italic;
	font-weight:lighter;
}
.abouttext p::first-letter{
	float: left;
    font-size: 80px;
    padding-right: 10px;
    padding-top: 5px;
	padding-bottom: 0px;
    font-weight: bold;
	font-style: normal;
}

.aboutimg_img{
	border-radius: 5px;
}
.maindiv{
	box-shadow: rgba(17, 12, 46, 0.297) 0px 48px 100px 0px;
	margin: 20px;
	padding: 20px;
}
.div{
	text-align: center;
	margin: 10px 20px;
	padding: 10px;
}
.div h3{
	font-weight: bold;
	font-size: 30px;
}
.alldiv{
	text-align: center;
	display: flex;
	flex-direction:row;
	gap:30px;
	margin: 20px 20px;
	
}
.alldiv p{
	text-align: justify;
	margin: 10px;
}
.div1,.div2,.div3,.div4,.div5{
	border-left: 3px solid rgba(84, 84, 211, 0.647);
	padding-left: 20px;
}
/* Health Benefits page */
.video{
	display: flex;
	justify-content: center;

}
.video iframe{
	width: 100%;
	height: 500px;
}
.healthbenefitsdiv{
	border: 1px solid black;
	margin: 10px 10px ;
	border-radius: 10px;
	background-color: rgba(120, 108, 173, 0.473);

}
.hbimg{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin: 5px 20px;
}
.hbimg img{
	width: 500px;
	height: 250px;
	border-radius: 10px;
	margin: 10px;
}
.hbimg p{
	text-align: justify;
	margin: 5px;
	font-size: 22px;
}
.audiodiv{
	margin: 5px 270px;
	
}
.audiodiv audio{
	width: 500px;
	border-radius: 10px;
}
/* Popup  */
 
    /* Overlay background */
#popup {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease;
}

    /* When targeted, show the popup */
#popup:target {
	opacity: 1;
	visibility: visible;
}
 
    /* Centered popup box */
#popup form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(243, 228, 228, 0.949);
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
 
label {
    display: block;
    margin-top: 10px;
	font-weight: bold;
}
 
input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    box-sizing: border-box;
	border-radius: 5px;
}
 
button {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background-color: #501ae5dd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
 
    /* Close button */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    text-decoration: none;
    font-size: 20px;
    color: black;
}
/* Basket page */
.basket_list{
	display: flex;
	justify-content: center;
	/* border: 1px solid black; */
	margin: 20px;
	padding: 10px;

}
.basket_list ul{
	display: flex;
	list-style: none;
	gap: 220px;
	font-size: 25px;
	font-weight: bold;
	margin: 0 auto;
}
.basket_img{
	width: 80px;
	height: 60px;
}
.basket_list_1{
	border: 1px solid rgb(16, 11, 3);
	padding: 10px;
	margin:0px 10px;
	border-radius: 10px;
}
.basket_list_1 ul{
	display: flex;
	list-style: none;
	gap: 240px;
	font-size: 20px;
	font-weight: bold;
	margin: 0 0 10px;
	padding-left: 100px;
}
.totalpricebasket{
	display: flex;
	gap:1150px;
	font-weight: bold;
	margin: 0px 20px;
	margin-bottom: 60px;
	padding:40px;
	border-bottom: 2px solid black;

}
.totalprice p{
    font-size: 25px;
}
.amount p{
	font-size: 25px;

}
/* search */
.search_box{
	width: 100%;
	justify-items: center;
}
.box{
	display: flex;
	height: 30px;
	cursor: pointer;
	border-radius: 30px;
	align-items: center;
}
.box:hover input{
	width: 400px;
	background-color: white;
	box-shadow: rgba(232, 76, 76, 0.975) 0px 3px 8px;
	border-radius: 10px;
}
.box input{
	width: 0;
	outline: none;
	border: none;
	font-weight: 500;
	transition: 0.8s;
	background: transparent;
	padding: 10px;
}
.box a{
	margin: 0px 2px;	
}
.box img{
	box-shadow: rgb(224, 16, 16) 0px 3px 8px;
	border-radius: 10px;
	margin-top: 10px;
	padding: 8px;
}
/* @media(max-width:469px){
	.navbar{
		display:flex;
		flex-direction: column;
		justify-content: center;
	}
	.logo{
		text-align: center;
	}
	.slider{
		width: 800px;
		height: 450px;
	}
	.sliderimg{
		width: 100%;
		height: 450px;
	}
	.feedback{
		width: 850px;
		height: 450px;
		margin: 10px auto;
		padding: 10px 10px;
	}
	.hbimg img{
		width:200px;
		height: 200px;
		margin-top: 30px;
	}
	.hbimg p{
		font-size: 15px;
	}
	.contact_icon{
		gap:50px;
	}
	.icon1,.icon2,.icon3{
		width: 200px;
		gap: 1px;
		padding: 5px 10px;
	}
	.icon1 i,.icon2 i,.icon3 i{
		font-size: 20px;
	}
	.icon1 h3,.icon2 h3,.icon3 h3{
		font-size: 15px;
	}
	.map{
		margin: 25px 0px;
	}
	.map iframe{
		width: 350px;
		height: 300px;
		margin-top: 20px;
	}
	.form{
		width: 50%;
	}
	.form label{
		font-size: 18px;
	}
	.contact_form_map{
		gap: 20px;
		padding: 10px 0px;
	}
	.bg{
		padding: 0px 20px;
	}
	.aboutimg{
		width: 300px;
		height:400px;
		margin: 30px 0px;
	}
	.aboutimg_img{
		width: 300px;
		height: 300px;
	}
	.abouttext{
		padding: 5px 5px;
		
	}
	.abouttext p{
		height:450px;   
        overflow: hidden;      
		
	}
	.div1,.div2,.div3,.div4,.div5{
		border: 3px solid rgba(84, 84, 211, 0.647);
		padding:10px 0px;
		margin: 0px 10px;
		border-radius: 10px;
	
	}
	.alldiv{
		gap:10px;
		flex-wrap: wrap-reverse;
	}
	.maindiv{
		margin: 5px;
		padding: 5px;
	}
	#popup form{
		top:60%;
	}
	.basket_list{
		margin: 5px;
		padding: 5px;
	}
	.basket_list ul{
		gap: 50px;
		padding: 5px;
	}
	.basket_img{
		width: 40px;
		height: 20px;
		border-radius: 10px;

	}
	.basket_list_1{
		padding: 10px;
	}
	.basket_list_1 ul{
		gap: 80px;
		

	}
	.totalpricebasket{
		gap: 450px;

	}

} */

@media(max-width: 469px) {
	.navbar{
		width:1300px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		/* margin: 0 auto;	 */
	}
	.logo{
		margin-left:500px;
	}
	.slider{
		width: 1000px;
		margin-left: 100px;
	}
	section h3 p{
		margin-left: 550px;
		justify-items:center;
		/* border: 1px solid black; */
		display: flex;
		margin-top: 5px;


	}
	.desks_list{
	    display:grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		margin-left: 600px;

	}
	.search_box{
		display:none;
	}
	footer{
		width:1300px;

	}
	.feedback{
		width: 1000px;
		margin-left: 110px;
	}
	.desks h1{
		display: none;
	}
	.desks{
		background-image: none;
	}
	.desk_card{
		gap: 30px;
	}
	.video{
		width: 1000px;
		margin-left: 120px;
	}
	.healthbenefitsdiv{
		width:1000px ;
		margin-left: 120px;
	}
	.bg{
		width: 1200px;
		height: 1400px;
		padding: 80px 20px;
		margin-left: 50px;
	}
	.contact_icon{
		padding: 80px 20px;
	}
	.contact_form_map{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		/* width: 200px; */
		padding-top: 50px;
	
	}
	.form{
		width: 700px;
		line-height: 40px;
	}
	.map iframe{
		width: 850px ;
	}
	.about{
		width: 1200px;
	}
	.alldiv{
		gap:10px;
		flex-wrap: wrap-reverse;
		margin-left: 80px;
		height: 800px;
		box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
		
	}
	.div1,.div2,.div3,.div4,.div5{
		border: 3px solid rgba(84, 84, 211, 0.647);
		padding:10px 0px;
		margin: 0px 10px;
		border-radius: 10px;
	
	}
	.maindiv{
        width: 1300px;
	
	}
	.basket_list{
		margin-left: 600px;
		margin-top: 20px;
		margin-bottom: 80px;
		
	}
	.basket_list ul{
		gap: 150px;
		margin: 10px 0px;
		padding: 10px;
	}
	.basket_list_1 ul{
		gap: 190px;

	}
	.basket_list_1{
		border: none;
		margin-top: 30px;
		padding: 20px 0px;
		/* margin-left: 20px; */
	}
	.totalpricebasket{
		gap: 950px;
		border: none;
		margin-top:10px ;
		margin-bottom:280px ;
		
	}
	
	
	

}
